@{
    ViewBag.Title = "Analysis";
}

@section scripts {
    @* All this receives the benefits of bundling*@
    <script src="~/App/Users/AppUsers.js"></script>
    <script src="~/App/Users/ViewModels/RootViewModel.js"></script>
    <script src="~/App/Users/ViewModels/UserHomeViewModel.js"></script>
    <script src="~/App/Users/ViewModels/UserListViewModel.js"></script>
    <script src="~/App/Users/ViewModels/UserViewModel.js"></script>
    <script src="~/App/Users/ViewModels/user-list.component.js"></script>

    <script src="~/App/app.module.js"></script>
    <script src="~/App/app.config.js"></script>
    <script src="~/App/Users/user-detail/user-detail.module.js"></script>
    <script src="~/App/Users/user-detail/user-detail.component.js"></script>
}

@section jsCode {
    angular.bootstrap(document.getElementById("AnalyticsWindow"), ['user']);    
}

<div ng-non-bindable>
    <h3>Select an analysis you would like to perform</h3>
    <div id="AnalyticsWindow" data-ng-controller="rootViewModel">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <header class="navbar-brand">Select an analysis:</header>
                </div>

                <ul class="nav navbar-nav">
                    <li><button class="btn btn-primary" ng-click="userList()"> Users </button></li>
                    <li data-target="#AnalyticsWindow"><a href="#">Directed Graph</a></li>
                </ul>

            </div>
        </nav>

        <style>
            .gist-cache iframe {
                width: 900px;
                height: 500px;
                border: 1px solid;
            }
        </style>
        <div class="text-center gist-cache">
            <h2>{{ pageHeading }}</h2>
            @*
            <user-list></user-list>
            *@
        </div>
        <hr />
        <div ng-view></div>
        <hr />
    </div>


    <script type="text/javascript">
        var body = d3.select("div#AnalyticsWindow");
        var duration = 2000;
        body.style("background-color", "#e9967a") // <-B .style("width", "500px" )
            .style("height", "1000px")
            .transition()
    </script>

    
</div>
