<SampleSuperstore>
        <database databaseName="SampleSuperstore"
                connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SampleSuperstore;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
                csvFilePath="C:\Users\kp12g_000\Documents\Visual Studio 2017\Projects\CSharpFinalProject\SampleSuperstore_Managers.csv" 
                excelFilePath="C:\Users\kp12g_000\Documents\Visual Studio 2017\Projects\CSharpFinalProject\SampleSuperstore.xls"/>
      <tables>
        <add name="Managers"
             csvFile="C:\Users\kp12g_000\Documents\Visual Studio 2017\Projects\CSharpFinalProject\SampleSuperstore_Managers.csv"
             procedures="AddManagers, AddManagersBulkImport"/>
        <add name="Orders"
             csvFile="pending"/>
        <add name="Returns"
             csvFile="pending" />
      </tables>
              
</SampleSuperstore>