<Locations>
  <database databaseName="Locations"
          connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Locations;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False">
    
  </database>
  <tables>
    <add name="Locations"
         csvFile="none"/>
  </tables>
</Locations>