@*
    Added 10/30/16 1:15pm -KP
*@

@model IEnumerable<IdeallyConnectedWebApp.Models.Blog>

@{
    ViewBag.Title = "Blogs";
}

<h2> Blogs </h2>

<p>
    <a asp-controller="Blogs" asp-action="Create">Create new</a>
</p>

<table class="table">
    <tr>
        <th>ID</th>
        <th>URL</th>
    </tr>
    
    @foreach (var item in Model) 
    {
        <tr>
            <td>
                @Html.DisplayFor(ModelItem => item.BlogId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
        </tr>
    }
</table>

