@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>Imagine you are at your favorite place to be productive, but you feel there 
    is something missing. Maybe it's someone to interact with, or maybe you're lacking
    some thought to help you keep on going. 
    What if you could find someone near you to help you with what you need and are 
    willing to do so?
    I introduce to you Ideally Connected. Use it.</p>
