@model IdeallyConnected.Models.ApplicationUser
@{
    ViewBag.Title = "Home Page";
    
}
@using IdeallyConnected.Components;
@using IdeallyConnected.Models;
@*
    @model LayoutMenuItemManager
*@

@*
<div class="jumbotron" ng-controller="IndexViewModel as ivm">
    <h1>Ideally Connected</h1>
    <p class="lead">Bringing people together.</p>
</div>

<div>
    <button class="img-rounded">See who is in your vicinity</button>

    <div>
        Map
    </div>

</div>

*@
<div ng-app="ICApp">
    <div ng-view></div>
</div>