@model IdeallyConnected.Data.Models.User
@{
    ViewBag.Title = "Home Page";
    
}
@using IdeallyConnected.Components;
@using IdeallyConnected.Data.Models;
@*
    @model LayoutMenuItemManager
*@

@*
<div class="jumbotron" ng-controller="IndexViewModel as ivm">
    <h1>Ideally Connected</h1>
    <p class="lead">Bringing people together.</p>
</div>

<div>
    <button class="img-rounded">See who is in your vicinity</button>

    <div>
        Map
    </div>

</div>

    *@
<div ng-controller="IndexViewModel as ctrl">
    <h3>Space</h3>
    <br />
    <hr />
    {{ ctrl.author }}
    {{ helloScope }}
</div>



