@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" ng-controller="IndexViewModel as ivm">
    <h1>Ideally Connected</h1>
    <p class="lead">Bringing people together.</p>
    <p><cite>{{ ivm.author }}</cite></p>
</div>
<div ng-view></div>

