@{
    ViewBag.Title = "Home Page";
}
@{ 
   var dir = Directory.GetCurrentDirectory();
   var directory = ViewBag.directory;
}
<div class="jumbotron">
    <h1>Ideally Connected</h1>
    <p class="lead">Bringing people together.</p>
</div>
