@{
    ViewBag.Title = "Users List";
}

@section scripts {
   @* angular.bootstrap(document.getElementById("user"), ['user']);    *@
}

<div ng-non-bindable>
    <div id="user" data-ng-controller="rootViewModel">
        <h2>{{ pageHeading }}</h2>

    </div>
</div>