@{
    //ViewData["Title"] = "Home Page";
    //Layout = "";
}

<!-- ng-app directive to bootstrap the Angular application. It cannot be repeated within a scope. -->
<!-- personAppMod is a module. -->
@*
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Single Element Transition</title>
    <link rel="stylesheet" type="text/css" href="../../css/styles.css" />
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
</head>

<body>

    <script type="text/javascript">
        var body = d3.select("body");
        var duration = 2000;
        body.append("div") // <-A
                .classed("box", true)
                .style("background-color", "#e9967a") // <-B
                .style("width", "500px")
                .style("height", "1000px")
                .transition() // <-C
                .duration(duration) // <-D
                .style("background-color", "#add8e6"); // <-E
                //.style("margin-left", "600px") // <-F
                //.style("width", "100px")
                //.style("height", "100px");
    </script>

</body>

</html>
*@

<div data-ng-controller="indexViewModel">
    <div class="jumbotron">
        <h2>This will be the main page</h2>
        <h1>{{ topic }}</h1>
        <h2> {{ author }} </h2>
        <p> {{ self }} </p>
    </div>
</div>
@*
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Simple Shapes</title>
    <link rel="stylesheet" type="text/css" href="~/css/styles1.css" />
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
</head>

<body>

    <style>
        svg line {
            stroke: grey;
            stroke-width: 2;
        }

        svg circle {
            stroke: red;
            fill: none;
            stroke-width: 2;
        }

        svg rect {
            stroke: steelblue;
            fill: none;
            stroke-width: 2;
        }

        svg polygon {
            stroke: green;
            fill: none;
            stroke-width: 2;
        }
    </style>
    
    <script type="text/javascript">
    var width = 600,
        height = 500;

    var svg = d3.select("body").append("svg");

    svg.attr("height", height)
        .attr("width", width);

    svg.append("line") // <-A
        .attr("x1", 0)
        .attr("y1", 200)
        .attr("x2", 100)
        .attr("y2", 100);

    svg.append("circle") // <-B
        .attr("cx", 200)
        .attr("cy", 150)
        .attr("r", 50);

    svg.append("rect")
        .attr("x", 300) // <-C
        .attr("y", 100)
        .attr("width", 100) // <-D
        .attr("height", 100)
        .attr("rx", 5); // <-E

    svg.append("polygon")
        .attr("points", "450,200 500,100 550,200"); // <-F
    </script>

</body>

</html>
    *@

@*
<html ng-app="d3DemoApp">
<head>
    <meta charset="utf-8" />
    <title>Visualization Playground</title>
    <!-- <script src="...sizzle.js..."></script> in case CSS3 is used and backward compatibility is required -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
</head>

<body>
    <p>Some fruits:</p>
    <p class="item" id="first-item">Apple</p>
    <p class="item" id="second-item">Banana</p>
    <p class="item" id="third-item">Orange</p>
    <script type="text/javascript">
        // Select all p tags
        var ps = d3.selectAll('p');
        // Select all elements with the class 'item'
        var items = d3.selectAll('.item');
        // Select the first element with the id 'first-item'
        var first = d3.select('#first-item');
        // Add a HTML attribute to all p tags
        ps.attr('align', 'center');
        // Change the background-color of the items
        items.style('background-color', 'red');
        // Remove the element #first-item from the DOM
        first.remove();
    </script>

    <svg width="400" height="300">
        <text x="10" y="40">Some shapes:</text>
        <rect class="item" id="first-item" width="100" height="50" x="0" y="200" />
        <circle class="item" id="second-item" cx="150" cy="125" r="25" />
        <line class="item" id="third-item" y1="100" x2="400" y2="400" style="stroke:black" />

    </svg>

    <script type="text/javascript">
        /* Transformations example */
        // Select all circle tags
        var circ = d3.selectAll('circle');
        // Select all elements with the class 'item'
        var items = d3.selectAll('.item');
        // Select the first element with the id 'first-item'
        var first = d3.select('#first-item');
        // Add a SVG attribute to all circle tags
        circ.attr('r', '50');
        // Change the fill color of the items
        items.style('fill', 'red');
        // Remove the element #first-item from the DOM
        first.remo
    </script>

    <!--
        SELECTORS can be applied to
            - tag names:    body, div, etc.
            - ID:           #head, #content, etc.
            - class name:   .nav-item, .media, etc.
            - attributes:   [width=100], [align=center], etc.
            - hierarchal elements inside elements by containments
            - combining with logical AND: .item[width=100] (== select .item AND [width=100])
    -->
    <div>
        <input type="checkbox" name="my-box" />
        <script type="text/javascript">
            // set the property
            d3.select('input').property('checked', true);
            console.log(d3.select('input').property('checked'));
        </script>

        <p>I like fruits.</p>
        <p>Apple, Banana and Orange</p>
        <script type="text/javascript">
            // Select the first element
            var elem = d3.select('p:first-child');
        </script>
    </div>

    <div>
        <p>I like fruits.</p>
        <p>Apple, Banana and Orange</p>
        <script type="text/javascript">
            // Invokes the function for each element
            d3.selectAll('p').each(function (d, i) {
                var self = d3.select(this);
                // Output the text of every element
                console.log(self.text());
            });
        </script>
    </div>

    <div>
        <p>I like fruits.</p>
        <p>Apple, Banana and Orange</p>
        <script type="text/javascript">
            // "selection" is implicitly given the value from selectAll
            function set_custom_attr(selection, attr, value) {
                selection
                .attr(attr, value);
            }
            // Invokes the function once
            d3.selectAll('p').call(set_custom_attr, 'align', 'center');
        </script>
    </div>
</body>
</html>
    *@


@*
<html>
<head>
    <title>Some new stuff</title>
</head>
<body>
    <ul>
        <li><a href="~/js/personcomponent.html">STUPENDOUS!</a></li>
        <li><a href="~/visualizationPractice.html">Visualization/D3 Practice</a></li>
    </ul>

    
</body>
</html>


<body ng-app="personApp">
    <h1>Directives</h1>
    {{2+2}}

    <h1>Databinding</h1>
    <!-- These are two types of ways of databinding -->
    <div ng-init="firstName='John'; lastName='Doe';">
        <strong>First name:</strong>{{firstName}}<br/>
        <strong>Last Name:</strong><span ng-bind="lastName"/>
    </div>

    <h1>Templates</h1>
    <div ng-init="personName='John Doe'">
        <input ng-model="personName"/> {{personName}}
    </div>

    <h1>Expressions: Angularjs vs Javascript</h1>
    <div ng-init="personName='John Doe'">
        Person's name is: {{personName}} <br/>
        Simple Javascript calculation of 1 + 2: {{1+2}}
    </div>

    <h1>Repeaters. Saves you from writing lots of crappy code!</h1>
    <div ng-init="namez=['John Dope', 'Mary Jane', 'Bob Barker']">
        <ul>
            <li ng-repeat="poop in namez">
                {{$index + ' ' + poop}}
            </li>
        </ul>
    </div>

    <h1>Repeaters 2. Notice how 'names' array is redefined. Previous looses capabilities.</h1>
    <div ng-init="names=[{firstName:'John', lastName:'Doe'},
         {firstName:'Mary', lastName:'Jane'},
         {firstName:'Jeeper', lastName:'Creeper'}]">
        <ul>
            <li ng-repeat="name in names">
                <div ng-show="$even">
                    {{$even + ' ' + $first + ' ' + $last + ' ' + ' ' + name.firstName + ' ' + name.lastName}}
                </div>
            </li>
        </ul>
    </div>
    
    <h1>Example of calling $scope and using a controller defined in JS file (site.js)</h1>
    <div><!-- ng-app="personApp" is an attribute to body element. ng-app can't be repeated within a scope. -->
        <h1>Scope</h1>
        <div ng-controller="personController">
            <strong>Name:</strong>{{name}}<br/>
            <strong>Missing Property(age): </strong> {{age}} <!-- missing properties are ignored -->
           
        </div>
    </div>

    <h1>Controllers</h1>
    <div ng-controller="personModController">
        <strong>First Name:</strong>{{fName}}<br/>
        <strong>Last Name:</strong>{{lName}}
    </div>

    <h1>Components</h1>
    <person-component></person-component>

    <div ng-controller="personController">
        <ul>
            <li ng-repeat="person in people">
                <h2>{{person.FirstName}} {{person.LastName}}</h2>
            </li>
        </ul>
    </div>
    <script src="~/js/site.js"></script>
    <script src="~/lib/angular/angular.js"></script>
</body>




<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="3" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="0"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                    <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
            <li>Theming using <a href="http://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699562">Add an appsetting in config and access it in app.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699318">Add client packages using Bower.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run & Deploy</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>
*@