<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <sectionGroup name="TestDatabases">
      <section name="SampleSuperstore"
               type="IdeallyConnected.TestDatabases.Configurations.DbConfigSection, IdeallyConnected.Database"
               allowLocation="true"
               allowDefinition="Everywhere"/>
      <section name="Locations"
               type="IdeallyConnected.TestDatabases.Configurations.DbConfigSection, IdeallyConnected.Database"
               allowLocation="true"
               allowDefinition="Everywhere"/>
    </sectionGroup>


  </configSections>
  <TestDatabases>
    <SampleSuperstore configSource="Configurations\SampleSuperstore\SampleSuperstore.config">
    </SampleSuperstore>
    <Locations configSource="Configurations\Locations\Locations.config">
    </Locations>
  </TestDatabases>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings configSource="connectionStrings.config"/>
  <appSettings configSource="DataFiles.config"></appSettings>  
</configuration>