<appSettings>
  <add key="SampleSuperstoreCSV" value="C:\Users\kp12g_000\Documents\Visual Studio 2017\Projects\CSharpFinalProject\SampleSuperstore_Managers.csv"/>
  <add key="SampleSuperstoreExcel" value="C:\Users\kp12g_000\Documents\Visual Studio 2017\Projects\CSharpFinalProject\SampleSuperstore.xls"/>
</appSettings>