<h3>Analysis List</h3>
<h2>{{ analysis }}</h2>
<div>
    <a href="#" ng-click="refreshAnalysis()"><span class="glyphicon glyphicon-refresh"></span></a>
</div>
<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Analysis Name</th>
                <th>Analysis Details</th>
            </tr>
        </thead>
        <tbody ng-repeat="c in analysis">
            <tr>
                <td><a href="#" ng-click="showAnalysis(c)">show</a></td>
            </tr>
        </tbody>
    </table>
</div>
